<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample app</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <section>
      <div class="container">
        <h2>TP 7 devops</h2>

        <div class="row100">
          <div class="col">
            <div class="inputBox">
              <span class="text"
                >We are group 7 : Mansouri yasmine, Hajouni Belhsan, Mgaieth
                hayder, Abdelli Akram, Bjeoui jihed, Ben Manaa Hichem.</span
              >
            </div>
          </div>
          <div class="col">
            <div class="inputBox">
              <span class="text">You are calling me from {{request.remote_addr}}</span>
              <span class="line"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
